body{
	background-color: grey
}

.container{
	display:inline-block;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
}

.gameTitle{
	vertical-align:top;
	height: 70px;
	/*border-top: 2px solid black;*/
	border-bottom: 2px solid black;
}


.column{
	vertical-align:top;
	width:350px;
	display:inline-block;
}

.selection{
	border-bottom:2px solid black;
}
